@import '~vuetify/src/styles/styles.sass';

$rally-font-size: 16;

$body-font-family: 'Roboto Condensed', sans-serif;
$heading-font-family: 'Lato', sans-serif;
$btn-font-size: #{14 / 16}rem;
$btn-font-weight: 700;

$dialog-card-subtitle-padding: 16px;
$dialog-card-text-padding: 16px;
$dialog-card-title-padding: 16px;

$tabs-bar-background-color: #fafafa;
$tab-font-size: 1.25rem;
$tab-font-weight: 500;
$tabs-item-min-width: 0;

$headings: (
  'h1':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{96 / $rally-font-size}rem,
    'weight': 300
  ),
  'h2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{60 / $rally-font-size}rem,
    'weight': 300
  ),
  'h3':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{48 / $rally-font-size}rem,
    'weight': 400
  ),
  'h4':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{34 / $rally-font-size}rem,
    'weight': 400
  ),
  'h5':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{24 / $rally-font-size}rem,
    'weight': 400
  ),
  'h6':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{20 / $rally-font-size}rem,
    'weight': 500
  ),
  'subtitle-1':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{16 / $rally-font-size}rem,
    'weight': 400
  ),
  'subtitle-2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{14 / $rally-font-size}rem,
    'weight': 500
  ),
  'body-1':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{14 / $rally-font-size}rem,
    'weight': 400
  ),
  'body-2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{14 / $rally-font-size}rem,
    'weight': 300
  ),
  'caption':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{12 / $rally-font-size}rem,
    'weight': 400
  ),
  'overline':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{10 / $rally-font-size}rem,
    'weight': 400
  )
);