# any random quite long string
JWT_SECRET=changeme
# pass uri with credentials if needed
MONGODB_URI=mongodb://root:example@mongo:27017
# just a name
DB_NAME=purify
# domain where purify is running, e.g. purify-demo.herokuapp.com
DOMAIN=purify-demo.herokuapp.com
# is your domain served through https?
SECURE=true