{
  "presets": ["@vue/cli-plugin-babel/preset"],
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "extends": "@istanbuljs/nyc-config-typescript",
            "all": true,
            "extension": [".vue", ".ts"]
          }
        ]
      ]
    }
  }
}
